#hero .navbar::before {
    background-color: #0b6f5b;
}

#logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 3.4rem;
}

.block .block__title h2 {
    color: #0b6f5b;
  
}

.block__title {
    margin-bottom: 3rem !important;
}

h4 {
    color: #37959d;
}

.btn {
    transition: .3s ease;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.4rem 1.6rem 1.3rem 1.6rem;
    border: none;
    outline: none !important;
    cursor: pointer;
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, .2);
}

.btn-outline-secondary {
    border-radius: .4rem !important;
    outline: none !important;
    box-shadow: inherit;
    border: .2rem solid #227d6b !important;
    color: #227d6b !important;
}
.btn-outline-secondary:hover {
    background-color: #227d6b !important;
    border: .2rem solid #227d6b !important;
    color: #fff !important;
}

.ft-links:hover{
color: #0b6f5b !important;
text-decoration: underline;
}
.reveal:before{
    background-color: #000 !important;
}


@media (min-width: 10rem) and (max-width: 61.9375rem) {
    #logo {
        font-size: 2.7rem;
    }
}